#
# All the relative URL paths are intended to be GitHub ones
# For Espressif's public projects please use '../../espressif/proj', not a '../proj'
#

[submodule "quirc"]
	path = quirc
	url = https://github.com/dlbeer/quirc.git

