#
# All the relative URL paths are intended to be GitHub ones
# For Espressif's public projects please use '../../espressif/proj', not a '../proj'
#

[submodule "quirc"]
	path = quirc
	url = https://github.com/dmitry1945/quirc.git

[submodule "components/opencvlib"]
	path = components/opencvlib
	url = https://gitlab.espressif.cn:6688/idf/opencvlib.git
